# Exclude dev files from plugin distribution
/tests/ export-ignore
/phpunit.xml export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/build/ export-ignore
/coverage.xml export-ignore

# Always normalize line endings
* text=auto
